<mat-toolbar color="primary">
  <span>Recipe Finder</span>
</mat-toolbar>

<app-search (searchQuery)="onSearch($event)"></app-search>

<div class="recipe-container" *ngIf="!isLoading">
  <mat-card *ngFor="let recipe of recipes" class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ recipe.summary | slice : 0 : 100 }}...</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isLoading">Loading...</div>
